Data Anaysis and Preprocessing

importing liberaries

In [1]:
import os
import sys
import pandas as pd
import numpy as np

sys.path.append(os.path.abspath('../scripts'))
sys.path.append(os.path.abspath('..src'))

load data for all data types

In [3]:

oil_price_data = pd.read_csv(r'C:\Users\befekadum\Documents\10x acadamy\week10\Change_point_analysis-\data\Copy of BrentOilPrices.csv')

In [9]:
oil_price_data

              Date  Price
0        20-May-87  18.63
1        21-May-87  18.45
2        22-May-87  18.55
3        25-May-87  18.60
4        26-May-87  18.63
...            ...    ...
9006  Nov 08, 2022  96.85
9007  Nov 09, 2022  93.05
9008  Nov 10, 2022  94.25
9009  Nov 11, 2022  96.37
9010  Nov 14, 2022  93.59

[9011 rows x 2 columns]

Handle Missing values

In [5]:
from data_pro_function import data_pro

In [6]:
data_pro_new = data_pro

In [7]:
missing_oil_data = data_pro_new.percent_missing(oil_price_data,oil_price_data)
missing_oil_data

np.float64(0.0)

which shows there is no missing values in the data

Data celaning remove duplicates and correct data types

In [8]:
duplicates_oil_data = data_pro_new.drop_duplicate(oil_price_data,oil_price_data)

duplicates_oil_data

              Date  Price
0        20-May-87  18.63
1        21-May-87  18.45
2        22-May-87  18.55
3        25-May-87  18.60
4        26-May-87  18.63
...            ...    ...
9006  Nov 08, 2022  96.85
9007  Nov 09, 2022  93.05
9008  Nov 10, 2022  94.25
9009  Nov 11, 2022  96.37
9010  Nov 14, 2022  93.59

[9011 rows x 2 columns]